:host {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 7em;
    margin: 0.1em;
}

.championList {
    height: 93vh;
}

.champion-viewport {
    height: 100%;
    width: 100%;
    display: block;
    overflow: auto;
}

.champion-row {
    display: flex;
    row-gap: 1vh;
    column-gap: 1vw;
    padding: 8px 12px;
    box-sizing: border-box;
    align-items: center;
    min-height: 120px;
}

.champion-item {
    flex: 1 1 50%;
    min-width: 0;
}

input {
    width: 100%;
    margin: 0.1em;
    background-color: darkslategray;
    color: white;
    font-size: 4em;
    padding: 0.1em;
}